body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
::-webkit-scrollbar{
  display: none;
}
.main-container{
  display: flex;
  flex-direction: row;
  width: fit-content;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
}
.heading{
  /* color:white; */
  letter-spacing: 1vw;
  font-weight: bolder;
  font-size: 2.5vw;
  text-align: center;
  z-index: 2;
  position: sticky;
        left: 0;
}
.intro-cont{
  display: flex;

  flex-direction: row;
  width: 90vw;
  height: 100vh;
  padding-left: 10vw;
  overflow: hidden;

  
}
@keyframes animate {
  0%{
  clip-path: polygon(0 0, 0% 0%, 0% 100%, 0 100%);

  }
  100%{
  clip-path: polygon(0 0, 100% 0%, 85% 100%, 0 100%);

  }
}
.intro-cont .title-cont span{
  width: 100%;
  height: 2%;
  
  clip-path: polygon(0 0, 0% 0%, 0% 100%, 0 100%);
  
  background-color: rgb(188, 188, 188);
  animation: animate .5s forwards 1s;
}

.left-title{
  width: 60%;
  display: flex;
  
  padding-left: 4rem;

  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;

}
.title-cont h1, .title-cont p{
  font-size: 7vw;
  display: flex;
  
  /* margin: 3rem 1rem; */
  margin: 0;
}
.left-title .title-cont{
  height: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: visible;
}
.left-title .description{
  background-color: black;
  color: aliceblue;
  display: flex;
  width: 100%;
  height: 18%;
  align-items: center;
position: sticky;
}
.description p{
  margin: 0 2.5vw;
  font-size: 1.1vw;
  transition: opacity .3s;

}

.right-title{
  width: 40%;
 
}
.background-pic{
  background-position:bottom right;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  transition: opacity .3s;
 
}

.timeline-cont{
  width: 90vw;
  padding-left: 10vw;
  height: 100vh;
  overflow: scroll;
  position: relative;

}

.nav-container{
  background-color: #00000072;
  position: fixed;
  width: 10vw;
  height: 100vh;
  overflow: hidden;
  z-index: 3;
  transition: background-color .4s ease-in;
  backdrop-filter: blur(10px);
}
.nav-container ul{
  list-style: none;
  display: flex;
  transform: rotate(-90deg);
  justify-content: center;
  align-items: center;
  height: 100%;
}
.nav-container li{
  padding: 1% 40%;
}

.nav-container li a{
  text-decoration: none;
  color: azure;
  font-weight: bold;
  transition: font-size .2s;

}
.timeline-item-cont h1{
  position: absolute;
  z-index: -1;
  color: rgba(203, 202, 202, 0.544);
  margin: 0;
  font-size: 9vw;
}
.timeline-item-cont h3{
  font-weight: normal;
  margin: 0;
  margin-left:4vw;
  line-height: 2.5vw;
}
.timeline-item-cont{
  position: relative;
  height: 10vw;
  padding: 2% 0 ;
  display: flex;
  align-items: center;
  
}
.timeline-item-cont .item-cont{
  width: 70%;
}

.works-cont{
  width: 90vw;
  padding-left: 10vw;
  height: 100vh;
  transition: background-color .3s ease-in;
  background-color: #6d6d6d;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-position: center;
  background-size: cover;
  position: relative;
  transition: background-image .3s, opacity .2s;
}

.work-main-cont{
  display: flex;
  z-index: 2;
  overflow: scroll;
  flex-wrap: wrap;
}
.works-item-container{
  margin: 1%;
  padding: 2%;
  background-color:rgba(103, 103, 103, 0.105);
  border-radius: 15px;
}
.works-item-container .caption-cont{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1% 0;
}
.caption-cont caption{
  font-size: 1.2vw;
  font-weight:bold;
  color: aliceblue;
}
.works-item-container .image-item,.image-item img {
  border-radius: 15px;
  background-color: rgb(36, 36, 36);
  transition: opacity .2s ease-in, transform .3s;
  
}
.works-item-container:hover img{
  transform: translateY(4px);
  opacity: .4;
  backdrop-filter: blur(10px);
}
.awards-cont{
  display: flex;
  flex-direction: column;
  width: 90vw;
  height: 100vh;
  padding-left: 10vw;
  overflow: scroll;
  position: relative;
}
.award-main-cont{
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
}
.awards-item-container{
  width: 20vw;
  padding: 3%;
}
.awards-item-container .caption-cont{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.awards-item-container .caption-cont p{
  text-align: center;
  font-style: italic;
  font-size: 1.2vw;
}